<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cam's Pizzeria</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap-grid.css">
</head>
<body>
  <main class="container">
    <header class="row">
      <div class="col-md-12">
        <h1>Cam's Pizzeria</h1>
        <nav id="menu">
          <ul>
            <li><a href="#randomPizzas">Menu</a></li>
            <li><a href="#ingredients">Our Ingredients</a></li>
            <li><a href="#locations">Locations</a></li>
            <li><a href="#" onclick="alert('Thanks for clicking! This button doesn\'t do anything because this is a fake pizzeria :\)')">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <aside id="movingPizzas1" class="row"></aside>
    <article id="callToAction" class="row">
      <div class="col-md-4">
          <img src="images/pizzeria_480.jpg"
          srcset="images/pizzeria_640.jpg 640w, images/pizzeria_480.jpg 480w, images/pizzeria_320.jpg 320w"
          sizes="(min-width: 1200px) 360px, (min-width: 992px) 300px, (min-width: 541px) 640px, (max-width: 540px) 90vw, 480px"
          class="img-responsive"> <!-- Image credit to: http://commons.wikimedia.org/wiki/File:HK_TST_night_%E5%98%89%E8%98%AD%E9%81%93_Granville_Road_restaurant_Paisano's_Pizzeria_pizza_Dec-2013.JPG -->
      </div>
      <div class="col-md-8">
        <h2>We Have Hundreds of Pizza Recipes!</h2>
        <p>At Cam's Pizzeria, we know you want options. Pepperoni? Boring. Cheese? No way! Sausage? C'mon, let's get creative.</p>

        <p>We have every pizza ingredient imaginable in our kitchen because we know you take choice seriously. Take a look through our menu of hundreds of pizza options and we know that you'll find something you love.</p>

        <button>Pick a Pizza now!</button>
      </div>
    </article>
    <article id="ingredients" class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="centered">Ingredients!</h2>
        <p>We've scoured the planet for the best pizza ingredients. Our crack team of ingredient specialists are on constant lookout for new and interesting pizza ingredients.</p>

        <p>We have classic meats like pepperoni, sausage, and barbecue chicken. But you can find even more fun meats like coppa, kielbasa and soylent green on our menu too.</p>

        <p>Not interested in meat? No problem! We love our veggies too :) We have everything from arugula to zucchini.</p>
      </div>
    </article>
    <article id="locations" class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="centered">Locations!</h2>
        <div class="row">
          <address class="col-md-6">
            <h3>Pizza Road</h3>
            <p>1800 Pizza Road<br>
            San Francisco, CA<br>
            01010<br>555-555-5555</p>
          </address>
          <address class="col-md-6">
            <h3>Classic Pie Way</h3>
            <p>999 Classic Pie Way<br>
            New York, NY<br>
            00100<br>
            555-555-5555</p>
          </address>
        </div>
      </div>
    </article>
    <article id="pizzaGenerator" class="row">
      <div class="col-md-12">
        <h2 class="centered">Our Pizzas!</h2>
        <p><em>What size pizza would you like? Use the slider below to change pizza sizes.</em></p>
        <div id="pizzaSize">Medium</div>
        <input id="sizeSlider" type="range" min="1" max="3" value="2" step="1" onchange="resizePizzas(this.value)"></input>
      </div>
    </article>
    <article id="randomPizzas" class="row">
      <section id="pizza0" class="randomPizzaContainer">
        <picture class="pizzaImageContainer">
          <img src="images/pizza_140.png" class="img-responsive">
        </picture>
        <div class="pizzaDescriptionContainer">
          <h4 class="pizzaName">The Udacity Special</h4>
          <ul class="pizzaIngredients">
            <li>Turkey</li>
            <li>Tofu</li>
            <li>Cauliflower</li>
            <li>Sun Dried Tomatoes</li>
            <li>Velveeta Cheese</li>
            <li>Red Sauce</li>
            <li>Whole Wheat Crust</li>
          </ul>
        </div>
      </section>
      <section id="pizza1" class="randomPizzaContainer">
        <picture class="pizzaImageContainer">
          <img src="images/pizza_140.png" class="img-responsive">
        </picture>
        <div class="pizzaDescriptionContainer">
          <h4 class="pizzaName">The Cameron Special</h4>
          <ul class="pizzaIngredients">
            <li>Chicken</li>
            <li>Hot Sauce</li>
            <li>White Crust</li>
          </ul>
        </div>
      </section>
      <template id="pizzaTemplate">
        <section class="randomPizzaContainer">
          <picture class="pizzaImageContainer">
            <img src="images/pizza_140.png" class="img-responsive">
          </picture>
          <div class="pizzaDescriptionContainer">
            <h4 class="pizzaName"></h4>
            <ul class="pizzaIngredients">
            </ul>
          </div>
        </section>
      </template>
    </article>
    <footer class="col-md-12">Thanks for visiting! &copy; 2014 Udacity</footer>
  </main>
  <script async type="text/javascript" src="js/main.js"></script>
</body>
</html>